# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
.venv/
venv311/
*.egg-info/

# Data
data/raw/
data/processed/
*.csv
*.json

# Models
models/*.pkl
models/*.joblib
models/*.npy

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Env
.env
